html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #8da288;
  width: 100%;
  height: 100%;
  color: #1c1c1c;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

._container {
  min-height: 100%;
  overflow: hidden;
  margin: 3rem;
}

.slider {
  max-width: 50rem;
  margin: 0 auto;
}

[type="radio"] {
  display: none;
}

.slider-images {
  display: flex;
  height: 38rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.slider-images img {
  object-fit: cover;
}

#input-one:checked~.slider-images .image-one {
}

#input-two:checked~.slider-images .image-two {
}

#input-three:checked~.slider-images .image-three {
}

.slider-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.slider-text {
  height: 1.5rem;
  overflow: hidden;
}

.slider-paginations {
  display: flex;
}

.slider-paginations label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  transition: all 1s;
  cursor: pointer;
}

.slider-paginations label span {
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 50%;
  background-color: #395729;
  border: solid #395729 0.2rem;
  transition: all 1s;
}

@media(hover: hover) {
  .slider-paginations label:hover span {
    background-color: #ffffff;
    border: solid #ffffff 0.2rem;
    transition: all 1s;
  }
}

#input-one:active~.slider-block .slider-paginations .label-one .span-one,
#input-two:active~.slider-block .slider-paginations .label-two .span-two,
#input-three:active~.slider-block .slider-paginations .label-three .span-three,
#input-four:active~.slider-block .slider-paginations .label-four .span-four,
#input-five:active~.slider-block .slider-paginations .label-five .span-five {
  background-color: #d7da22;
  border: solid #d7da22 0.2rem;
  transition: all 0s;
}

#input-one:checked~.slider-block .slider-paginations .label-one .span-one,
#input-two:checked~.slider-block .slider-paginations .label-two .span-two,
#input-three:checked~.slider-block .slider-paginations .label-three .span-three,
#input-four:checked~.slider-block .slider-paginations .label-four .span-four,
#input-five:checked~.slider-block .slider-paginations .label-five .span-five {
  background-color: transparent;
  transition: all 1s;
}

@media(hover: hover) {

  #input-one:checked~.slider-block .slider-paginations .label-one:hover .span-one,
  #input-two:checked~.slider-block .slider-paginations .label-two:hover .span-two,
  #input-three:checked~.slider-block .slider-paginations .label-three:hover .span-three,
  #input-four:checked~.slider-block .slider-paginations .label-four:hover .span-four,
  #input-five:checked~.slider-block .slider-paginations .label-five:hover .span-five {
    border: solid #ffffff 0.2rem;
    transition: all 1s;
  }
}